page-cash-cancel-charge {
  .toolbar-background-ios {
        background: $default-color;
        color:white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .toolbar-title-ios {
        color: white;
    }

    .deny{
        background-color:white;
        color:$default-color;
        border-style:solid;
        border-color:$default-color;
        border-width:1px;
    }

    .scroll-content{
        background-color:$default-color;
        color:white;
    }

    .warning{
        background-color:#f2f2f2;
        color:#4a4a4a;
        height:175px;
        padding-top:45px;
        font-size:3.4vw;
    }

    .cashId{
        padding-top:34px; //376
        font-size: 4.5vw;
        padding-bottom:16px;
    }

    .amount{
        font-size:5.5vw;
    }

    .info{
        background-color:white;
        color: #4a4a4a;
        margin-left:21px;
        width:334px;
        margin-bottom: 62px;
        margin-top:20px;
    }

    .info-label{
        border-right-style:solid;
        border-width:1px;
        border-color: #dddddd;
    }
}
