page-my-info {
    .toolbar-background-ios {
        background: white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }
    
    .profile-icon{
        margin-top:20px;
        width:26px;
        height:26px;
        color:#ff5d45;
    }
    .title{
        margin-top:25px;
        margin-bottom:14px;
        font-family: OTDayB;
        font-size: 17px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.2px;      
        color:#ff5d45;
    }

    .personal-info-section{
        margin-left:40px;
        margin-right:40px;
        margin-top: 21px;
        height:50px;
        .user-name{
            font-size:5.8vw;
            color:$default-color;
        }
        .user-img{
            width: 66px;   
        }
    }

    .group-title{
        p{
            font-size:3.8vw;
            margin-left:19px;
            margin-top:15px;
            color:#9b9b9b;
        }
        border-top-style: solid;
        border-width: 1px;
        border-color: #dfdfdf;  
    }

    .each-menu{
        padding-left:19px;
        font-size:4.5vw;
        button{
            height: 19px;
            font-size: 3.8vw;
        }
        ion-col{
            height: 35px;
            padding-top:10px;
            padding-bottom:0px;
        }
        border-top-style: solid;
        border-width: 1px;
        border-color: #dfdfdf;          
    }

    .last{
        border-top-style: solid;
        border-width: 1px;
        border-color: #dfdfdf;  
    }
}
