<!--
  Generated template for the MyInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color:white;"> 
    <ion-navbar hideBackButton>         
    <div text-center>
        <custom-icon style="font-size:8vw;" set="tabbutton" name="profile" class="profile-icon"></custom-icon>&nbsp;<span class="title">나의 정보</span>            
    </div>
    <div text-center class="personal-info-section">
        <!--
           <img class="user-img" src="assets/imgs/profile-pic.png">
           -->
          <p class="user-name">
          {{storageProvider.name}}님
          </p>
      </div>
    </ion-navbar>
</ion-header>
<ion-content>
  <ion-row class="group-title" style="background-color: #f7f7f7">
  <p>기본정보</p>
  </ion-row>
  <ion-row class="each-menu">
  <ion-col col-4>
    이메일
  </ion-col>
  <ion-col col-8>
    {{storageProvider.email}}
  </ion-col>  
  </ion-row>  
  <ion-row *ngIf="storageProvider.emailLogin" class="each-menu">
  <ion-col col-4>
    비밀번호
  </ion-col>
  <ion-col col-5>
    ***********
  </ion-col>
  <ion-col col-3 style="padding-top:0px;">
      <button ion-button clear  (click)="modifyEmailLogin()">변경하기</button>   
  </ion-col>  
  </ion-row>  
  <ion-row class="each-menu">
  <ion-col col-4>
    휴대폰 번호
  </ion-col>
  <ion-col col-5>
    {{storageProvider.phone}}
  </ion-col>
  <ion-col col-3 style="padding-top:0px;">
      <button ion-button clear (click)="modifyPhone()">변경하기</button>   
  </ion-col>  
  </ion-row>  
<!-- 쿠폰-begin -->
  <ion-row class="each-menu">
  <ion-col col-4>
    쿠폰 코드
  </ion-col>
  <ion-col col-5>
    &nbsp;
  </ion-col>
  <ion-col col-3 style="padding-top:0px;">
      <button ion-button clear (click)="enterCoupon()">입력하기</button>   
  </ion-col>  
  </ion-row>  
<!-- 쿠폰-end -->
<ion-row class="group-title" style="background-color: #f7f7f7">
  <p>환경설정</p>
  </ion-row>
  <ion-row class="each-menu">
  <ion-col col-6>
    위치정보확인
  </ion-col>
  <ion-col col-6 text-right>
    <ion-checkbox [(ngModel)]="storageProvider.locationInfoCheck" mode="md" (ionChange)="updateLocationInfoCheck()" ></ion-checkbox>    
  </ion-col>  
</ion-row>
<ion-row class="each-menu">
  <ion-col col-6>
    알림음끄기
  </ion-col>
  <ion-col col-6 text-right>
    <ion-checkbox [(ngModel)]="storageProvider.slientMode" mode="md" (ionChange)="updateSlientMode()" ></ion-checkbox>    
  </ion-col>  
</ion-row>


  <ion-row class="group-title" style="background-color: #f7f7f7">
  <p>결제정보</p>
  </ion-row>
  <ion-row class="each-menu">
  <ion-col col-4>
    결제비밀번호
  </ion-col>
  <ion-col col-5>
    ******
  </ion-col>
  <ion-col col-3 style="padding-top:0px;">
      <button ion-button clear (click)="modifyPaymentPassword()" >변경하기</button>   
  </ion-col>  
  </ion-row>  
    <ion-row class="each-menu">
  <ion-col col-4>
    현금영수증
  </ion-col>
  <ion-col col-5 *ngIf="storageProvider.receiptId!=undefined && storageProvider.receiptId!=null && storageProvider.receiptId.length>0">
    {{storageProvider.receiptId}}
  </ion-col>
  <ion-col col-5 *ngIf="storageProvider.receiptId==undefined || storageProvider.receiptId==null || storageProvider.receiptId.length==0">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-col>  
  <ion-col *ngIf="storageProvider.receiptId!=undefined && storageProvider.receiptId!=null && storageProvider.receiptId.length>0" col-3 style="padding-top:0px;">
      <button ion-button clear (click)="modifyReceiptInfo()">변경하기</button>   
  </ion-col>  
  <ion-col *ngIf="storageProvider.receiptId==undefined || storageProvider.receiptId==null || storageProvider.receiptId.length==0" col-3 style="padding-top:0px;">
      <button ion-button clear (click)="modifyReceiptInfo()">설정하기</button>   
  </ion-col>  
  </ion-row>  
  <ion-row class="group-title" style="background-color: #f7f7f7">
  <p>웨이티 알아보기</p>
  </ion-row>
  <!--
  <ion-row class="each-menu">
  <ion-col col-8 (click)="goToFaq()">
    FAQ
  </ion-col>
  <ion-col col-4>
    <button full (click)="goToFaq()" style="color:#c7c7cc;" no-padding no-margin clear ion-button>
   <ion-icon  name="ios-arrow-forward-outline"></ion-icon>
    </button>
  </ion-col>  
  </ion-row>
-->  
  <ion-row class="each-menu">
  <ion-col (click)="goToPolicy()" col-8>
    웨이티 정책
  </ion-col>
  <ion-col col-4>
    <button full (click)="goToPolicy()" style="color:#c7c7cc;" no-padding no-margin clear ion-button>
   <ion-icon  name="ios-arrow-forward-outline"></ion-icon>
    </button>
  </ion-col>  
  </ion-row>  
  <ion-row class="each-menu">
  <ion-col (click)="goToCompanyInfo()" col-8>
    회사정보
  </ion-col>
  <ion-col col-4>
    <button full (click)="goToCompanyInfo()" style="color:#c7c7cc;" no-padding no-margin clear ion-button>
   <ion-icon  name="ios-arrow-forward-outline"></ion-icon>
    </button>
  </ion-col>  
  </ion-row>  

  <ion-row class="each-menu">
      <ion-col col-8 (click)="goToNotice()">
        알림
        <!--
        <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</div>
        -->
      </ion-col>
      <ion-col col-4>
        <button full (click)="goToNotice()" style="color:#c7c7cc;" no-padding no-margin clear ion-button>
       <ion-icon  name="ios-arrow-forward-outline"></ion-icon>
        </button>
      </ion-col>  
      </ion-row>

  <ion-row class="last" style="background-color: #f7f7f7">
    <ion-col text-right><button style="font-size:3.5vw;" (click)="logout()" clear ion-button>로그아웃</button></ion-col>
    <ion-col text-left><button style="font-size:3.5vw;" (click)="unregister()" clear ion-button>회원탈퇴</button></ion-col>  
  </ion-row>

<ion-fab bottom left *ngIf="storageProvider.tourMode && storageProvider.name=='타킷주식회사'">
    <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
      <custom-icon set="tabs" name="exit"></custom-icon>
    </button>
</ion-fab>

</ion-content>
