page-shop {
    .branch{
        margin-left:19px;
        font-family: TTOmniGothicB;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;      
    }

    .shop-info{
        margin-left:19px;
        margin-top: 3px;
        margin-bottom:10px;
        text-align:left;
        span{
            font-family: AppleSDGothicNeo;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ff7f39;
        }
    }

    .dot{
        width: 2px;
        height: 2px;
        background-color: #ff7f39;
        margin-top: 4px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .segment-md .segment-button {
        color: black;
    }

    .classification{
        height:50px; //Is it correct?
        padding-left: 19px;
        padding-top: 16px;
        font-family: NotoSansCJKkr;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #b0b0b0;
        background-color: #f7f7f9;        
    }

    .segment-md-primary .segment-button.segment-activated {
        border-color: red;
        color: red;
        opacity: 1;
    }

    .slides{
        height:158px;
        width:375px;
        background-color:white;
        button.each-img{
          width:100%;
          height:104px;
        }
    }
    
    .swiper-pagination-bullet-active {
        background: #ff7f39;//#b071ff;
        opacity: 1;
    }

    ///////////////////////////////////////////
    .toolbar-background-ios {
        background: white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .scroll-content{
        overflow-y: unset;
    }
    .shop-text-info{
        font-size:3.4vw;
        color: #4a4a4a;
        margin-top:4px;
        margin-bottom:4px;
       .label{
           margin-left: 20px;
           width: 60px;
           display: inline-block
       }  
       .noti{
           margin-left: 20px;           
       } 
    }

    .stamp{
        margin-left: 20px;           
        margin-right: 20px;           
    }

    .shop-img{
        width: 202px;
        height: 136px;
        background-size: 202px 136px; 

        margin-left:86px;
        margin-right:86px;
        span{
            font-size:3.4vw;
        	border-radius: 13px;
	        background-color: #ffffff;
	        border: solid 1px  $default-color;
            color:$default-color;
        }
    }

    .scroll-categories{
        width: 100%;
        height: 100%;
        padding-bottom: 5%;
        margin : 0px;
    }

    .col-categories{
        .list-ios {
            margin: 0px;
        }
        .item-ios {
            padding-left: 0px;
        }
        .item-inner{
            height: 30px; //Does it work?
            background-color:white; 
            border-bottom:0px;
            padding:0px !important;
            .label-ios {
                 margin: 0px; 
            }            
        }
        .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
            border-bottom: 0px;
        }
        .list-ios > .item-block:first-child {
            border-top: 0px;
        }
        .list-ios .item-block .item-inner {
            border-bottom: 0px;
        }
        button{
            span{
              justify-content: left;  
            }
        }
        .item-ios .item-button {
            padding-left: 5px;
            padding-right:0px; 
            height: 30px;
        }
    }

    .no-scroll >.scroll-content{
            overflow: hidden;
    }

    .col-menus{
            width: 100%;
            height: 100%;
            //padding-bottom: 5%;
            margin : 0px;
            button.left{
                border-left: solid; 
                border-width: 1px;
                border-color: #bdbdbd;
            }
            button{
                //border-left: solid;
                border-bottom: solid;
                border-width: 0.5px;
                border-color: #bdbdbd;

                height: 175px;
                h2{
                    font-size:3.4vw;
                    color:#4a4a4a;
                }
                p{
                    color:$default-color;
                }
                .img-shop{
                    margin-left:30px;
                    width:  120px;
                    height: 120px;
                    background-size: 120px 120px;                 
                    padding-top: 40px;
                    .sold-out{
                        font-size:6vw;
                        color: #33b9c6;
                        padding:10px; 
                        border: solid 2px #33b9c6;
                        border-radius: 23.5px;
                        background-color:white;
                    }
                }

                .txt-shop{
                    margin-left:30px;
                    width:  120px;
                    //height: 50px;
                    //background-size: 120px 120px;                 
                    //padding-top: 10px;
                    .sold-out{
                        font-size:3.4vw;
                        color: #33b9c6;
                        //padding:10px; 
                        //border: solid 2px #33b9c6;
                        //border-radius: 23.5px;
                        //background-color:white;
                    }
                }

                ion-label{
                    margin: 4.6px 4.6px 4.6px 4.6px;
                    h2{
                        //margin-left:10vw;
                    }
                    p{
                        //margin-left:10vw;
                    }
                }
                 .item-inner{
                        border-bottom:0px !important;
                 }
            }
        
         .item-inner{
            padding:0px !important;
        }
    }

    .row-categories-menus{
        border-top: solid;
        border-color: #f2f2f2;
        border-width: 2vw;
        height: 100%;
    }

    .text-border{
        border-radius: 8px;
	    border: solid 1px  $default-color;
        font-size: 2.6vw;
    }
    
    .store-information-button{
        width:23px; 
    }
    
    ion-select{
        max-width: 100%;
        width: 100%;
        background-color:$default-color;
        color:white;
        .select-icon{
            color:white;
        }
    }
    //////////////////////////////////
    .item-radio.item-ios ion-label { // It doesn't work.
        margin-left: 0;
        text-align: center !important;
    }
    
     .popover-content {
        width: 100%;
     }

    ///////////////////////////////////////////////////////////////////////////////////
    // category선택을 popover로 변경한다. 
    // components/popover/popover.ios.scss을 직접 수정한다. 폰에서도 적용되는지 확인이 필요하다. 다른곳에서 popover를 사용하지는 않는지 확인이 필요하다 ㅜㅜ
    .popover-ios .popover-arrow {
        width: 0px; 
        height: 0px; 
    }
    .popover-ios .popover-content {
        border-radius: 10px;
        width:337.5px !important;
    }

    ////////////////////////////////
    // 나중에 상점별 theme로 변경한다.
    .store-background-image{
        height:111px;
        width:375px;
    }

    .category-button{
       ion-col:nth-child(even){
            border-bottom: solid 0.5px lightgray;  
       }
       ion-col:nth-child(odd){
            border-right: solid 0.5px lightgray;
            border-bottom: solid 0.5px lightgray;  
        }
    }

    .category-level-select{
         .segment-button.segment-activated {
            border-color: #73a251;
            color: white !important;
            opacity: 1;
            background-color: #73a251;
            font-size: 15px;                      
            font-weight: bold !important;
        }
        .segment-md .segment-button {
            border-color: #73a251;
            color: rgba(255, 255, 255, 0.69);
            opacity: 1;
            background-color: #73a251; 
            font-size: 15px;
            font-weight: normal;            
        }
    }

    .shop-keyword{
        margin-left:15px;
        border-radius: 16.5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        
        padding-left: 19px;
        padding-right: 18px;
        padding-top: 8px;
        padding-bottom: 8px;

        font-family: AppleSDGothicNeo;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;  
    }

}
