page-menu {

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
        padding:0px;
    }
    
    .ingredients{
        padding-left:20px;
        padding-right:20px;
        padding-bottom:11px;
        background-color:#f2f2f2;
        margin-top:0px;
    }

    .inside-ingredients{
        height: 15px;  
    }
    
    .menu-name{
        padding:0px;
    }
    
    .menu-img{
        height:188px;
        padding: 13px;
        img{
            height:156px;
        }
    }

    .menu-text-info{
        padding: 20px;
        font-size:4.5vw;
    }

    .option-section{
        border-top-width:9px;
        border-bottom-width:9px;
        border-left-width:0px;
        border-right-width:0px;
        border-style: solid;
        border-color: #f2f2f2;
        padding-bottom: 20px;

        .options{
            padding-top:5px;
            font-size: 4vw;
            ion-row{
                height:29px;
                .option-name{
                    padding-left:20px;
                    padding-top: 5px;
                    color:#4a4a4a;
                }
                .option-price{
                    font-size:3.5vw; // iphone XR에서 문제가 되어 지정함.
                    padding-top: 5px;
                    padding-right:20px;
                }
                button{
                    height:29px;
                    width:29px;
                    color: #4a4a4a;
                    background-color: transparent;
                    margin:0px;
                }
                .number{
                    border-top-width: 1px;
                    border-bottom-width: 1px;
                    border-left-width: 0px;
                    border-right-width: 0px;
                    border-style: solid;
                    border-color: #bdbdbd;
                    color: #4a4a4a;
                    padding-top: 5px;
                }
                .col-border{
                    border-width: 1px;
                    border-style: solid;
                    border-color: #bdbdbd;
                }
            }
            ion-row.choice{
                    height:100%;
                    ion-label{
                        color:#4a4a4a;
                    }
            }
        }
    }

    .quantity{
        font-size:4vw !important;
        .item-ios.item-block .item-inner {
            border-bottom: 0px;
        }        
        padding:0px;
        .unit{
            padding-top: 18px;
        }
        button{
            span{
                font-size:4vw;
            }
        }
        .input-label{
            padding-left:20px;
            padding-top: 18px;
        }

        ion-input{
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
            input{
                text-align:right;
            }
        }
    }

    .price{
        font-size:5vw;
        height: 82px;
        background-color:#f2f2f2;
        padding-top: 28px;
        .left-col{
            padding-left:20px;
        }
        .right-col{
            padding-right:20px;
        }
    }
    .request{
         font-size:4vw !important;
         margin-top:10px;
         padding-left:20px;
         ion-textarea{
            height: 88px;
            color:black;
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
            width: 334px;
            margin-bottom:10px;
            margin-top: 10px;
         }
    }
    
    .cart{
        color:$default-color;
        border-style:solid;
        border-width:1px;
    }

    .expand-button{
        font-size:$default-font-size;
        background-color:#f2f2f2;
        color:#4a4a4a;
    }
}
