<!--
  Generated template for the SubShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{category}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-header>
    <ion-navbar hideBackButton>                
    <ion-buttons start>
      <button style="background-color:white;color:#73a251;" (click)="back()" ><ion-icon style="font-size:4.8vw;" name="ios-arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>  {{category}} 
    </ion-title>
    <ion-buttons end>
          <button ion-button (click)="search()" style="background-color:white;color:#000000;">
               <ion-icon  class="store-information-button"name="ios-search"></ion-icon>
          </button>
          <button ion-button (click)="openCart()" style="background-color:white;color:#000000;">
               <ion-icon class="store-information-button" name="cart-outline"></ion-icon>
          </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row *ngFor="let menu of menus" no-padding no-margin>
        <ion-col class="col-menus" no-padding text-center>
        <button color="white" (click)="selectMenu(menu[0])"ion-button full no-padding no-margin>
            <ion-item  no-padding>
                 <div text-center class="img-shop" [ngStyle]="menu[0].ngStyle">
                  <label *ngIf="menu[0].soldout==1" class="sold-out"> <b>판매종료</b></label>
                  <label *ngIf="menu[0].soldout==0"> &nbsp;&nbsp;&nbsp;&nbsp;</label>
                 </div>
                <h2 text-center>{{menu[0].menuName}}</h2> 
                <p text-center><amount-display [amount]="menu[0].price"></amount-display>원 <span class="text-border" *ngIf="menu[0].takeout>0 && shop.shopInfo.deliveryArea==null" >&nbsp;&nbsp;포장&nbsp;&nbsp;</span> 
                                     <span class="text-border" *ngIf="menu[0].takeout>0 && shop.shopInfo.deliveryArea!=null" >&nbsp;&nbsp;포장/배달&nbsp;&nbsp;</span></p>
            </ion-item>
        </button>
        </ion-col>
        <ion-col class="col-menus" no-padding text-center>
        <button class="left" *ngIf="menu[1]" (click)="selectMenu(menu[1])" color="white" ion-button full no-padding no-margin>
            <ion-item no-padding>
                 <div text-center class="img-shop" [ngStyle]="menu[1].ngStyle">
                  <label *ngIf="menu[1].soldout==1" class="sold-out"> <b>판매종료</b></label>
                  <label *ngIf="menu[1].soldout==0"> &nbsp;&nbsp;&nbsp;&nbsp;</label>
                 </div>   
                 <h2 text-center>{{menu[1].menuName}}</h2>
                <p text-center><amount-display [amount]="menu[1].price"></amount-display>원 <span class="text-border" *ngIf="menu[1].takeout>0 && shop.shopInfo.deliveryArea==null" >&nbsp;&nbsp;포장&nbsp;&nbsp;</span> 
                                       <span class="text-border" *ngIf="menu[1].takeout>0 && shop.shopInfo.deliveryArea!=null" >&nbsp;&nbsp;포장/배달&nbsp;&nbsp;</span></p> 
            </ion-item>
        </button>
        <button class="left" *ngIf="!menu[1]" color="white" ion-button full no-padding no-margin>
            <ion-item no-padding>
            </ion-item>
        </button>
        </ion-col>
    </ion-row>
    <ion-row class="dummy" style="height:50vh;">  <!-- 보정이 될까? col의 크기를 가져와 맞추는것이 맞다 ㅜㅜ -->
    </ion-row>   

</ion-content>
