page-cash-list {
    .toolbar-background-ios {
        background: $default-color;
        color:white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .toolbar-title-ios {
        color: white;
    }

//////////////////////////////////

$scroll-H:  180px;
$latest-H : 180px;

.scroll-latest {
    height: $scroll-H;
    .scroll-content{
        padding: 0;
    }
}

.scroll-div{
    .scroll-row-latest{
        flex-wrap : inherit;
        height: $latest-H;
        margin-left: 62px;
        margin-right: 62px;
        ion-row{
            width : 227px;   
        }

        .cash-select-border{
            border-style:solid !important;
            border-color: #33b9c6 !important;
            border-radius: 8px;
            border-left: 6px;
            border-right:6px;
            border-top:6px;
            border-bottom:6px;
        }

        .card-select-border{
            border-style:solid !important;
            border-color: #33b9c6 !important;
            border-radius: 8px;
            border-left: 6px;
            border-right:6px;
            border-top:6px;
            border-bottom:6px;
        }

        .card-unselect-border{
            border-radius: 8px;
             box-shadow: 0 0 7px 0 rgba(70, 70, 70, 0.5);
        }

        .card-button{
            width : 227px;
            height: 60px;
            color:white;
        }

        .cash-card{
            background-color:$default-color;
            color:white;
            padding-top:10px;
            .cash-label{                            ///////////////
                padding-top: 24px;
                height:47px;
            }
             .cash-value{
                padding-top:7px;     ////////////////////////
                padding-bottom:17px; ///////////////////////
             }
             .cash-value-row{
                padding-bottom:7px; ///////////////////////                     
             } 
             ion-row{
                 button{
                    height:25px;
                 }
                 border-top: solid 0.5px #ffffff;
                 ion-col{
                    button{
                            color:white;
                            padding-bottom:7px; // Please check it on the phone
                            span{
                                font-size:4vw;
                            }
                    }
                 }

                 .left-button{
                     border-right: solid 0.5px #ffffff;
                 }
             }
        }

        .card-add{
            background-color: #e8e8e8;
            color:#4a4a4a;;
            border-radius: 8px;
             box-shadow: 0 0 7px 0 rgba(70, 70, 70, 0.5);
            .card-add-label{
                justify-content: center;
                padding-top: 15px;
            }
        }

        .card-card{
            color:white;
            .card-remove{
                height:25px;
            }
            button{
                height:30px;
            }
        }

        .scroll-col-latest {
            overflow: inherit; 
            margin-left: 12px;
            margin-right:12px;
            margin-top:25px;
            margin-bottom:25px;
            height:121px;
        }      

        .select-scroll-col-latest {
            overflow: inherit; 
            margin-top:19px;
            height:133px;
        }            
              
    }    
} 

  .period-section{
    font-size:4vw;
    background-color: #f2f2f2;
    ion-datetime{
        color: #bdbdbd;
        background-color: #ffffff;
        border: solid 1px #bdbdbd;
        width: 125px;
        .datetime-text{
            padding-top:5px;
            padding-bottom:5px;
        }
    }
    ion-row{
        padding-left:21px;
        .center{
            padding-left:21px;
            padding-top:10px;
            color: #bdbdbd;
        }
    }
    .close-button{
        height: 23px;
        padding-right: 10px;
        color: #bdbdbd;
        font-size:4vw;
    }

    .search-button{
        background-color: #f2f2f2;
        color: #bdbdbd;
        border: solid 1px #bdbdbd;
        border-radius:0px;
       height: 29px;
       width: 50px;
    }
}

.transaction{
    border-bottom: solid 1px #bdbdbd;
    padding-top: 10px;
    padding-bottom: 10px;

    .extra-info{
        color: #bdbdbd;
        font-size:3.5vw;
        ion-col{
            padding-top:0px;
        }
    }

    .refund{
        font-size:4vw;
        color: #4a4a4a;
    }

    .cancel{
        font-size:4vw;
        color: $default-color;            
    }

    .payment{
        font-size:4vw;
        color: #4a4a4a;
    }

    .charge-done{
        font-size:4vw;
        color: $default-color;
    }

    .charge-waiting{
        font-size:4vw;
        color: #33b9c6;
        .button-inner{
            justify-content: left;
        }
        button{
            span{
                font-size: 4vw;
                color: #33b9c6;
            }
        }
    }

    ion-row{
        margin-left:20 px;
        margin-right:20 px;
    }
}


}
