page-cart {
    .toolbar-background-ios {
        background:$default-color;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
        padding:0px;
    }

   .toolbar-title-ios{
        color:white;
   }

   .content-ios{
        background-color:#f2f2f2;
   }

   .shop-info{
       button{
           span{
                justify-content: left;
                font-size:4.8vw;
           }
       }
       .button-ios{
            color: $default-color;
            background-color: white;
       }
       background-color: white;
       .info-label{
           font-size:3.4vw;
           padding-left: 28px;
           padding-bottom:10px; 
           color:#4a4a4a;
           .address{
               color: #bdbdbd;
           }
           .pay-border{
               	border-radius: 8px;
            	border: solid 1px #bdbdbd;
                color: #bdbdbd;
           }
           .label-width{
               width:61px;
           }
       }
   }

   .menu{
       margin: 10px;
       background-color:white;
       .close-button{
            height:20px;
            ion-icon{
                font-size:8vw;
            }
       }
       .menu-name{
            color: #4a4a4a;
            font-size:4.5vw;
       }
       .menu-quantity{
            color: #33b9c6;
       }

        button{
            height:29px;
            width:29px;
            color: #4a4a4a;
            background-color: transparent;
            margin:0px;
        }

        .number{
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-style: solid;
            border-color: #bdbdbd;
            color: #4a4a4a;
            padding-top: 5px;
        }
        .col-border{
            border-width: 1px;
            border-style: solid;
            border-color: #bdbdbd;
        }
        .menu-price{
            border-top: solid 1px #f7f7f7;
            padding-top: 18px;
            padding-bottom:18px;
            color:$default-color;
            font-size:4.5vw;
        }
        .left-padding{
            padding-left: 17px;
            padding-right:17px;
        }
        .top-padding{
            padding-top: 13px;
        }
        .gray-color{
	        color: #9b9b9b;
        }
   }

   .total-price{
       background-color:white;
       color:$default-color;
       padding-left:18px;
       padding-right:18px;
       font-size:4.8vw;
    }

    .empty-cart{
        padding-top:92px;
        width:117px;
    }
}

