<!-- Generated template for the AmountDisplayComponent component -->
<!-- iOS일경우 toLocaleString이 동작하지 않는다 아래 코드는 수정이 필요하다. 값이 100만원을 넘어서면 문제가 될수 있다...-->
   <span *ngIf="(amount-amount%1000)>0 && (amount%1000)>=100">{{(amount-amount%1000)/1000}},{{amount%1000}}</span>
   <span *ngIf="(amount-amount%1000)>0 && (amount%1000)<100 && (amount%1000)>=10">{{(amount-amount%1000)/1000}},0{{amount%1000}}</span>
   <span *ngIf="(amount-amount%1000)>0 && (amount%1000)<10">{{(amount-amount%1000)/1000}},00{{amount%1000}}</span>
   <span *ngIf="(amount-amount%1000)==0">{{amount%1000}}</span>

