page-cash-tutorial {
    ion-navbar{
        height:30px;
        .toolbar-background-ios {
            background: $default-color;
        }

        .toolbar-title-ios {
            text-align: center;
            font-size: 4.8vw;
            color: yellow//#33B9C6; 2018.07.04
        }
    }
    .p-desc-contents{
        margin:0px;
        font-size:4vw !important;
        color:white;
        margin-left:60px;
        margin-right:60px;
    }

    .addition{
        margin-left:60px;
        margin-right:60px;
    }

    .slide-zoom {

    }

    .swiper-slide img {
        max-width: 65%;
        padding-top:5px;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
         border-style: none; 
    }

    .content-ios {
        background-color: $default-color;
    }
}
