// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//@import '../assets/fonts/variables.scss';

$default-font-size:4vw;
$default-color:#FF5F3A;

@mixin calc($property, $expression) { 
        #{$property}: -webkit-calc(#{$expression}); 
        #{$property}: -moz-calc(#{$expression});
        #{$property}: calc(#{$expression}); 
} 

.tabs-ios .tabbar{
    background:white;
}


.fab-btn{
        color: white;
        background-color: $default-color;// #50e3c2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: 50%;
}

.fab ion-icon, .fab icon-icon {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 18vw !important;
}

ion-fab {
    ion-icon{
        padding-top:12px;
    }
}

.toss-alert-button{
    span{
        border:solid #2e4996;
        color:#2e4996;
        border-radius:5px;   
    } 
}

.alert-sub-title{  // 중복 주문 오류를 막기 위한 alert에 사용함. 2019.11.06
    b{
        color:red;
    }
}

ion-icon {
    &[class*="prefix-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="prefix-apple"] {
        mask-image: url(../assets/icon/apple.svg);
    }
    &[class*="prefix-gift"] {
        mask-image: url(../assets/icon/gift-outline.svg);
    }

    &[class*="prefix-email"] {
        mask-image: url(../assets/icon/email.svg);
    }

    &[class*="prefix-facebook"] {
        mask-image: url(../assets/icon/facebook.svg);
    }

    &[class*="prefix-kakaotalk"] {
        mask-image: url(../assets/icon/kakaotalk.svg);
    }

    &[class*="prefix-find"] {
        mask-image: url(../assets/icon/find.svg);
    }
    &[class*="prefix-history"] {
        mask-image: url(../assets/icon/history.svg);
    }
    &[class*="prefix-profile"] {
        mask-image: url(../assets/icon/profile.svg);
    }
    &[class*="prefix-star"] {
        mask-image: url(../assets/icon/star.svg);
    }
    &[class*="prefix-wallet"] {
        mask-image: url(../assets/icon/wallet.svg);
    }

    &[class*="prefix-cart"] {
        mask-image: url(../assets/icon/cart.svg);
    }
    &[class*="prefix-coin"] {
        mask-image: url(../assets/icon/coin.svg);
    }
    &[class*="prefix-exit"] {
        mask-image: url(../assets/icon/exit.svg);
    }
    &[class*="prefix-favorite"] {
        mask-image: url(../assets/icon/favorite.svg);
    }
    &[class*="prefix-plus"] {
        mask-image: url(../assets/icon/plus.svg);
    }
    &[class*="prefix-welcome"] {
        mask-image: url(../assets/icon/welcome.svg);
    }
    &[class*="prefix-tabhome"] {
        mask-image: url(../assets/icon/tabbutton/star.svg);
    }
    &[class*="prefix-tabmyinfo"] {
        mask-image: url(../assets/icon/tabbutton/profile.svg);
    }
    &[class*="prefix-taborderlist"] {
        mask-image: url(../assets/icon/tabbutton/history.svg);
    }
        &[class*="prefix-tabwallet"] {
        mask-image: url(../assets/icon/tabbutton/wallet.svg);
    }

    &[class*="prefix-tabfind"] {
        mask-image: url(../assets/icon/tabbutton/find.svg);
    }
}
