page-configure-password {
   .toolbar-background-ios {
        background:$default-color;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    .toolbar-title-ios{
        color:white;
    }
    ion-title{
        font-size:4.8vw;
        padding:0px;
    }

  .select-label{
        height:20px;
        margin-left:24px;
  }
  
  .label-ios {
    margin: 0px 8px 0px 0;
  }
  
  .group{
    height:50px;
    font-size: 4vw;
    background-color: #f7f7f7;
    color: #9b9b9b;
  }
  
  .border-bottom{
    border-bottom:solid 1px #dfdfdf;
  }

  .item-ios.item-block .item-inner {
     border-bottom: 0px;
  }

  ion-col{
      ion-label{
          font-size:4.5vw;
      }
  }
}
