page-error {

    .action-button{
        
    }

    .icon-img{
        padding-top: 203px;
        img{
            width:84px;
            height:84px;
        }
    }

    .logo-img{
        img{
            width:78px;
            height:18px;
        }
    }

    .action-button{
         height:50px;
         width:302px;
         border-radius: 8px;
	     border: solid 1px $default-color;
         color:$default-color;
         background-color:white;
    }

    .detail{
        margin-top: 0px;
    }

    ion-footer{
        img{
            width:266px;
            margin-bottom:40px;
        } 
    }
}
