page-response-input {
    .review{
        height: 40vh;
        border: solid 1px darkgray;
        //width: 80vw;
        //margin-left: 10vw;
        //margin-top: 10vw;
    }
    .customer{
        //border: solid 1px darkgray;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 10vw;        
    }
}
