page-login-main {
    .toolbar-background-ios {
        background: white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .toolbar-title-ios {
        color: $default-color;
        background-color:white;
    }

    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0px; 
    }

    .logo{
        padding-top: 181px;
        img{
            width:132px;
        }
    }

    .first{
        padding-top: 128px;
    }

    .second{
        padding-top: 419px;
    }

    .third{
        padding-top: 484px;
    }

    .tour{
        font-size:$default-font-size;
    }

    .login-button{
        width:302px;
        height:50px;
        border-radius: 8px;
        border: solid 1px $default-color;
        font-size:$default-font-size;
        font-weight: 500;
        letter-spacing: -0.3px;
        text-align: left;
        color: $default-color;
    }

    .icon{
        size: 6vw;
    }

    .button-text{
        padding-left:48px;        
    }
}
