<ion-header style="background-color:white;">   
<ion-navbar hideBackButton>              
        <div style="display:flex;">
            <!--
            <img  class="search-img" src="assets/imgs/wallet/wallet-top.png"> 
            -->
            <custom-icon style="font-size:8vw;" set="tabbutton" name="wallet" class="search-img"></custom-icon>&nbsp;  
            <span class="title">지갑</span>            
        </div>
</ion-navbar>
</ion-header>
<ion-content style="background-color: #f7f7f9;">
    <div class="id-section">
            <span class="label">웨이티 아이디 </span><span class="value">{{storageProvider.cashId}}</span>          
    </div>
    <!--
    <div class="label">웨이티 캐시</div>
    -->
    <ion-segment style="background-color:white;" mode="md" [(ngModel)]="section" (ionChange)="changeSegment()">
        <ion-segment-button value="cash">
                웨이티 캐시
        </ion-segment-button>
        <ion-segment-button value="card">
                나의 카드
        </ion-segment-button>        
    </ion-segment>
    <div *ngIf="section=='cash'" style="height: 158px; background-color: white;">
        <div class="cash-section" style="display:flex;height:100px;padding-top:30px;">
                <amount-display class="value" [amount]="storageProvider.cashAmount"></amount-display><span class="won">원</span>
                <button ion-button outline round (click)="moveCashList()"> 내역보기 </button>
        </div>
        <div class="cash-only" style="display:flex;height:58px;" align-self-center>
                <button (click)="chargeCash()" style="font-size:15px;" no-padding no-margin full clear ion-button>충전</button>
                <span class="bar">|</span>
                <button (click)="refundCash()" style="font-size:15px;" no-padding no-margin full clear ion-button>환급</button>
        </div>        
    </div>
    <div *ngIf="section=='card'">
                <ion-slides class="slides" pager="true">
                        <ion-slide  *ngFor="let card of storageProvider.vouchers">
                                <!--
                                <div *ngIf="card.type=='voucher' && !card.valid" style="display:flex;flex-direction:column;">
                                        <button ion-button clear style="margin-left:200px;font-size:12px;color:black;margin-top:0px;margin-bottom:0px;height:15px;">삭제</button>
                                        <button *ngIf="card.type=='voucher'" class="multiline-button card-outline" text-center style="background-color:#00bea1;">
                                                        <span class="voucher-name">{{card.name}}</span><br>
                                                        <amount-display class="voucher-amount" [amount]="card.amount"></amount-display>
                                        </button>
                                </div>
                                -->
                                <button *ngIf="!card.valid" ion-button class="plus-card-outline multiline-button" (click)="removeVoucherCard(card)" style="background-color:lightgray;font-size:12px;">
                                                <span class="voucher-name">{{card.name}}</span><br>
                                                <ion-icon name="remove-circle-outline"></ion-icon>
                                </button>  
                                <div *ngIf="card.valid" style="display:flex;flex-direction:column;">
                                        <button class="multiline-button valid-card-outline" text-center style="background-color:#00bea1;">
                                                        <span class="voucher-name">{{card.name}}</span><br>
                                                        <amount-display class="voucher-amount" [amount]="card.available"></amount-display>
                                        </button>
                                        </div>        
                        </ion-slide>
                        <ion-slide>
                                        <button ion-button class="plus-card-outline multiline-button" (click)="addCard()" style="background-color:lightgray;font-size:12px;">
                                                        식비카드 추가<br><br>
                                                        <ion-icon name="add-circle-outline"></ion-icon>
                                        </button>    
                        </ion-slide>
                </ion-slides>
    </div>
    
    <div text-center>
        <button class="toss-button" style="margin-top:30px;margin-bottom:30px;" outline round ion-button (click)="launchToss()">Toss로 입금</button>        
 </div>
 <div text-center>
        <button class="toss-button" style="margin-bottom:35px;" outline round ion-button  (click)="launchKakaoPlus()"> 
            <div class="kakao"><custom-icon set="tabs" name="plus" class="plus"></custom-icon></div> 
            웨이티 카카오톡 플러스친구 문의 
        </button>        
</div>    
<div text-center>
        <a  ion-button clear class="tutorial" href="https://youtu.be/4-B9h-D9WOM">캐시 충전 방법 알아보기 &nbsp;></a>
        <!--
        <button ion-button clear class="tutorial" (click)="cashTutorial()" >캐시 충전 방법 알아보기 &nbsp;> </button>
        -->
</div>       
<div text-center>
        <button ion-button clear class="tutorial" (click)="cashFAQ()" >FAQ &nbsp;> </button>
</div>  

<ion-fab bottom left *ngIf="storageProvider.tourMode && storageProvider.name=='타킷주식회사'">
                <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
                  <custom-icon set="tabs" name="exit"></custom-icon>
                </button>
</ion-fab>
            
</ion-content>

