<ion-header style="background-color:white;">  
<ion-navbar hideBackButton>        
<div style="display:flex;">
        <img  class="logo-img" src="assets/imgs/home/logo.png">               
        <button ion-button no-margin no-padding class="search-icon" clear (click)="search()"><ion-icon name="ios-search"></ion-icon></button>
        <button ion-button no-margin no-padding class="cart-icon" clear (click)="openCart()"> <custom-icon style="font-size:40px;" set="tabs" name="cart"></custom-icon></button>
</div>
</ion-navbar>
</ion-header>

<ion-content style="background-color:#f7f7f9;" > <!-- rgb(228, 228, 228);-->
<ion-slides *ngIf="promotions.length>=1"class="slides" pager="true">
        <ion-slide  *ngFor="let promotion of promotions">
            <button class="each-img" clear no-margin no-padding ion-button (click)="enterShop(promotion.takitId)"><img [src]="storageProvider.awsS3+promotion.imagePath"></button>
        </ion-slide>
</ion-slides>

<!--
<custom-icon *ngIf="storageProvider.shopList==null || storageProvider.shopList==undefined || storageProvider.shopList.length==0" class="welcome-icon" set="tabs" name="welcome"></custom-icon>
2019/10/25 kalen.lee@takit.biz 주문을 중간에 종료할경우 상점목록이 업데이트 안될수 있음
-->
<custom-icon *ngIf="menus.length==0" class="welcome-icon" set="tabs" name="welcome"></custom-icon>

<div style="padding-top:17px;">
<!-- 2019/10/25 kalen.lee@takit.biz 주문을 중간에 종료할경우 상점목록이 업데이트 안될수 있음
<span *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length!=0 && menus.length!=0"  class="section-title">즐겨찾는 메뉴</span>
-->
<span *ngIf="menus.length && menus.length>0"  class="section-title">즐겨찾는 메뉴</span>
</div>
<!--2019/10/25 kalen.lee@takit.biz 주문을 중간에 종료할경우 상점목록이 업데이트 안될수 있음
<div style="margin-top: 20px;" *ngIf="storageProvider.shopList.length!=0 && menus.length!=0">
-->
<div style="margin-top: 20px;" *ngIf="menus.length && menus.length>0">                
    <div class="favorite-menu" style="display:flex;" *ngFor="let menu of menus" >
        <img class="menu-img" [src]="menu.fullImagePath">
        <div class="menu-desc" style="display:flex;flex-direction:column;">
            <p class="shop-name" no-margin no-padding>
                    {{menu.name_sub}} {{menu.name_main}}
            </p>
            <p class="menu-name" no-margin no-padding>
                    {{menu.menuName}} ({{menu.count}})
            </p>
            <p class="menu-price" no-margin no-padding>
                    <amount-display [amount]="menu.price"></amount-display>원
            </p>
            
        </div>
        <button *ngIf="menu.deactive==0" ion-button clear no-padding no-margin (click)="selectMenu(menu)"><img src="assets/imgs/home/order.png"></button>
    </div>
</div>
<!--
<div *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length!=0 && checkMoreMenus()" class="more" text-right>
-->        
<div *ngIf="checkMoreMenus()" class="more" text-right>                
        <button clear ion-button (click)="moreMenus()">더 보기</button> 
</div>

<div style="padding-top:17px;">
        <span *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length!=0"  class="section-title">최근 주문 매장</span>
</div>
<div text-center style="margin-top:15px;">
        <button *ngFor="let shop of shopList" class="shop" style="height:110px;width:355px;" (click)="enterShop(shop.takitId)" no-padding no-margin ion-button>
            <div style="display:flex">
                <div text-left >
                        <img style="width: 155px;height:100px;" [src]="storageProvider.awsS3+shop.imagePath">  
                </div>
                <div style="width: 186px;">
                        <ion-row>
                            <ion-col class="shop-brand"> {{shop.name_main}}</ion-col> 
                            <ion-col text-right class="like"  *ngIf="shop.upVoteCount && shop.upVoteCount>0"> <ion-icon name="heart" style="color:red;"></ion-icon> &nbsp;{{shop.upVoteCount}}</ion-col>
                        </ion-row>
                        <hr class="hr" align="left">
                        <div class="shop-info" style="display:flex;">
                            <span  *ngIf="shop.deliveryArea!=undefined && shop.deliveryArea!=null">배달</span>    
                            <div *ngIf="shop.deliveryArea!=undefined && shop.deliveryArea!=null" class="dot"> </div>                                                               
                            <span  *ngIf="shop.paymethod.cash!=undefined">캐시</span><span *ngIf="shop.paymethod.cash!=undefined && shop.paymethod.cash!='0%'">{{shop.paymethod.cash}}</span>
                            <div *ngIf="shop.paymethod.card!=undefined" class="dot"> </div> 
                            <span  *ngIf="shop.paymethod.card!=undefined">카드</span><span *ngIf="shop.paymethod.card!=undefined && shop.paymethod.card!='0%'">{{shop.paymethod.card}}</span>
                            <div *ngIf="shop.paymethod.voucher!=undefined && (shop.paymethod.cash!=undefined || shop.paymethod.card!=undefined)" class="dot"> </div> 
                            <span *ngIf="shop.paymethod.voucher!=undefined">{{shop.paymethod.voucher[0]}}</span>    
                        </div>
                        <div class="shop-location"><ion-icon ios="ios-pin-outline" md="md-pin"></ion-icon>&nbsp;{{shop.name_sub}}</div>                        
                    </div>    
            </div>
        </button>          
</div>
<!--
<div *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length!=0" class="more" text-right>
<button clear ion-button (click)="moreShops()">더 보기</button> 
</div>
-->
<ion-fab bottom left *ngIf="storageProvider.tourMode && storageProvider.name=='타킷주식회사'">
                <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
                  <custom-icon set="tabs" name="exit"></custom-icon>
                </button>
</ion-fab>
            
</ion-content>
